html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-img {
  height: 50px;
}

.section p {
  margin-bottom: 15px;
  text-align: justify
}

.section {
  width: 72%;
  padding: 40px 50px;
}

.section h2 {
  margin-bottom: 10px;
}

.section p:last-child {
  margin-bottom: 0;
}

.section ul li {
  list-style-type: none;
}

@media only screen and (max-width: 1200px) {
  .section {
    width: 100%;
    padding: 10px 30px;
  }
}

:root {
  /* --scrollbar-width: 10px; */
  --scrollbar-track-color: #000;
  --scrollbar-thumb-color: #888;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}