html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-img {
  height: 50px;
}

.section p {
  margin-bottom: 15px;
  text-align: justify
}

.section {
  width: 72%;
  padding: 40px 50px;
}

.section h2 {
  margin-bottom: 10px;
}

.section p:last-child {
  margin-bottom: 0;
}

.section ul li {
  list-style-type: none;
}

@media only screen and (max-width: 1200px) {
  .section {
    width: 100%;
    padding: 10px 30px;
  }
}

:root {
  /* --scrollbar-width: 10px; */
  --scrollbar-track-color-light: #D3D3D3;
  --scrollbar-thumb-color-light: #D60024;
  --scrollbar-track-color-dark: #121212;
  --scrollbar-thumb-color-dark: #D60024;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color-light);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color-light);
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff002b;
}
