html,
body {
  height: 100%;
  /* overflow: hidden !important; */
}

body {
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-img {
  height: 50px;
}

.section p {
  margin-bottom: 15px;
  text-align: justify
}

.section {
  padding: 40px 50px;
}

.section h2 {
  margin-bottom: 10px;
}

.section p:last-child {
  margin-bottom: 0;
}

.section ul li{
  list-style-type: none;
}